@import "tailwindcss";
@import "@nuxt/ui";
@source "../../../content/**/*";

@theme static {
  --font-sans: 'Noto Sans', sans-serif;
  --font-serif: 'Noto Serif', serif;
  --font-mono: 'Noto Sans Mono', monospace;

  --breakpoint-xs: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-hero: 6rem;

  --color-black: oklch(0.235 0 0);
  --color-white: oklch(0.9612 0 0);
}

:root {
  --ui-container: 90rem;
}

/* region Scrollbar */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
    background: var(--color-primary-900);
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
    background: var(--color-primary-300);
}
/* endregion */

/* region Focus & Selection */
*:focus {
  outline: 2px solid var(--color-primary-500);
  outline-offset: 2px;
}

::selection {
  background-color: var(--color-primary-500);
  color: var(--text-color-highlighted);
}
/* endregion */